@page "/SharePosts"
@using global::Shared.Models
@using Client_Blazor_App.Service
@using System.Globalization
@inject IShareService shareService


<AuthorizeView>
    <NotAuthorized>
        <div class="container">
            <h1 class="page-title">Shared Posts</h1>
            @if (sharedPosts != null && sharedPosts.Any())
            {
                <div class="row">
                    @foreach (var post in sharedPosts)
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title">@post.SharedBy</h5>
                                        @{
                                            string sharedDate = post.SharedDate;
                                            DateTime sharedDateTime;

                                            // Define possible date formats
                                            string[] formats = { "yyyy-MM-dd HH:mm:ss.fffffff", "yyyy-MM-dd HH:mm:ss.ffffff", "yyyy-MM-dd HH:mm:ss.fffff", "yyyy-MM-dd HH:mm:ss.ffff", "yyyy-MM-dd HH:mm:ss.fff", "yyyy-MM-dd HH:mm:ss.ff", "yyyy-MM-dd HH:mm:ss.f", "yyyy-MM-dd HH:mm:ss" };

                                            // Try parsing the date using different formats
                                            if (DateTime.TryParseExact(sharedDate, formats, CultureInfo.InvariantCulture, DateTimeStyles.None, out sharedDateTime))
                                            {
                                                string formattedDate = sharedDateTime.ToString("yyyy-MM-dd HH:mm");
                                                <h6 class="card-subtitle">@formattedDate</h6>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="comment">
                                        <p>@post.Comment</p>
                                    </div>
                                    <h6 class="exercises-heading">Exercises:</h6>
                                    <ul class="list-group">
                                        @foreach (var exercise in post.ExerciseTitles)
                                        {
                                            <li class="list-group-item">@exercise.Title</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p class="no-posts">No shared posts available.</p>
            }
        </div>
    </NotAuthorized>
    <Authorized>
        <div class="container">
            <h1 class="page-title">Shared Posts</h1>
            @if (sharedPosts != null && sharedPosts.Any())
            {
                <div class="row">
                    @foreach (var post in sharedPosts)
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title">@post.SharedBy</h5>
                                        @{
                                            string sharedDate = post.SharedDate;
                                            DateTime sharedDateTime;

                                            // Define possible date formats
                                            string[] formats = { "yyyy-MM-dd HH:mm:ss.fffffff", "yyyy-MM-dd HH:mm:ss.ffffff", "yyyy-MM-dd HH:mm:ss.fffff", "yyyy-MM-dd HH:mm:ss.ffff", "yyyy-MM-dd HH:mm:ss.fff", "yyyy-MM-dd HH:mm:ss.ff", "yyyy-MM-dd HH:mm:ss.f", "yyyy-MM-dd HH:mm:ss" };

                                            // Try parsing the date using different formats
                                            if (DateTime.TryParseExact(sharedDate, formats, CultureInfo.InvariantCulture, DateTimeStyles.None, out sharedDateTime))
                                            {
                                                string formattedDate = sharedDateTime.ToString("yyyy-MM-dd HH:mm");
                                                <h6 class="card-subtitle">@formattedDate</h6>
                                            }
                                        }

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="comment">
                                        <p>@post.Comment</p>
                                    </div>
                                    <h6 class="exercises-heading">Exercises:</h6>
                                    <ul class="list-group">
                                        @foreach (var exercise in post.ExerciseTitles)
                                        {
                                            <li class="list-group-item">@exercise.Title</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p class="no-posts">No shared posts available.</p>
            }
        </div>
    </Authorized>
</AuthorizeView>


@code {
    private IEnumerable<SharedPost> sharedPosts;

    protected override async Task OnInitializedAsync()
    {
        sharedPosts = await shareService.GetSharedPostsByUserAsync();
    }
}