@page "/SharePosts"
@using Client_Blazor_App.Service.Http
@using global::Shared.Models
@using Client_Blazor_App.Service
@inject IShareService shareService

<AuthorizeView>
    <NotAuthorized>
        <h1>Shared Posts</h1>
        @if (sharedPosts != null)
        {
            <div class="card-deck">
                @foreach (var post in sharedPosts)
                {
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="card-title">@post.SharedDate</h5>
                            <h6 class="card-subtitle text-muted">Posted by: @post.Comment</h6>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                @foreach (var exercise in post.ExerciseTitles)
                                {
                                    <li class="list-group-item">@exercise.Title</li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>No shared posts available.</p>
        }
    </NotAuthorized>
    <Authorized>
        <h1>Shared Posts</h1>
        @if (sharedPosts != null)
        {
            <div class="card-deck">
                @foreach (var post in sharedPosts)
                {
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="card-title">@post.SharedDate</h5>
                            <h6 class="card-subtitle text-muted">Posted by: @post.Comment</h6>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                @foreach (var exercise in post.ExerciseTitles)
                                {
                                    <li class="list-group-item">@exercise.Title</li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>No shared posts available.</p>
        }
    </Authorized>
</AuthorizeView>


@code {
    private IEnumerable<SharedPost> sharedPosts;

    protected override async Task OnInitializedAsync()
    {
        sharedPosts = await shareService.GetSharedPostsByUserAsync();
    }
}